
 #grad1 {
	 
		height: 150px;
	 background: linear-gradient(yellow, white);}

	footer-shadow  .p1 {
    text-shadow: 2px 2px #FF0000;
}

 thead {
	     font-family: 'Pangolin', cursive;
	 
	 
 }

 .center .p {
	 
	 text-align:center;
 }