
 #grad1 {
	 
		height: 150px;
	 background: linear-gradient(yellow, white);}

	footer-shadow  .p1 {
    text-shadow: 2px 2px #FF0000;
}

 thead {
	     font-family: 'Pangolin', cursive;
	 
	 
 }

 .center .p {
	 
	 text-align:center;
 }
.img-responsive {

	transition: all 0.3s ease-in-out 0s;

	}
	
.img-responsive:hover
{
    cursor: default;
    transform: rotate(320deg);
    transition: all 0.3s ease-in-out 0s;
}